






.green {
    width: 100px;
    height: 100px;
    background-color: #00FFCC;
}
.yellow {
    width: 100px;
    height: 100px;
    background-color: #FEE975;
}
.pink {
    width: 100px;
    height: 100px;
    background-color: #E4A4EE;
}
.blue {
    width: 100px;
    height: 100px;
    background-color: #17D3FF;
}

.container{
	display: flex;
 	margin: 3px;
    border: solid purple;
    padding:5px; 
    justify-content: space-around;
    
}